body {
    background: linear-gradient(to right, #4a9cc2, #a6eda8);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #333;
    position: relative;
    overflow-x: hidden;
  }
  
  canvas {
  background-color: transparent;
  position:relative;
  left:0;
  right:0;
  width:100vw;
  z-index: 1;
}
#waveCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    background: transparent;
  }

/* Patient Details */

h1 {
    color: #3d41bf;  
    margin-top: 20px;
}
.patient-details {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    width: 30%;
    max-width: 850px;
    
}

.patient-details p {
    margin: 8px 0;
    padding: 8px;
    font-size: 17px;
    border-bottom: 1px solid #0060c7;
}

.patient-details p:last-child {
    border-bottom: none;
}


  .buttons {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
}

.buttons a {
    background:#007BFF;
    margin: 8px;
    padding: 12px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    color: white;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.buttons a:hover {
    transform: translateY(-2px);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}


 
table {
    width: 90%;  
    max-width: 900%; 
    border-collapse: collapse;
    margin: 20px auto; 
    background: rgba(255, 255, 255, 0.564);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.356);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

/* Table Borders & Text */
table, th, td {
    border: 1px solid #025f34;
}

th, td {
    padding: 12px;
    text-align: center;
    font-size: 16px;
}

/* Table Header */
th {
    background: #00ff66b8; 
    color: rgb(255, 255, 255);
    font-weight: bold;
}

/* Alternate Row Colors */
tbody tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.564);
}

/* Hover Effect */
tbody tr:hover {
    background: rgba(255, 255, 255, 0.564);
    transition: 0.3s;
}

/* Responsive Table */
@media (max-width: 768px) {
    table {
        width: 95%; /* Allow more width on small screens */
        font-size: 14px;
    }
    th, td {
        padding: 10px;
    }
}
